# Hidden files
.*
!.gitignore
!.gitlab-ci.yml
!.readthedocs.yaml

# Byte / compiled / optimized
*.py[cod]
__pycache__/
*.so
/doc/_generated
/doc/spec.json

# Distribution / packaging
/build/
/dist/
*.egg-info/
.eggs/
html

# workflows, tasks and icons folders
/workflows
/tasks
/icons

# the db file
/ewoks_events.db
